h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: red;
}

canvas
{
    animation-name: utstar;
    animation-duration: 7.7777777s;
    animation-iteration-count: infinite;
}

@keyframes utstar
{
    0% {box-shadow: 1px 1px 38px red;}
    25% { box-shadow: 1px 1px 38px green;}
    50% { box-shadow: 1px 1px 38px blue;}
    75% { box-shadow: 1px 1px 38px green;}
    100% { box-shadow: 1px 1px 38px red;}
}